<ul class="search-results">
    {{#each users}}
        <li class="search-results__item">
            <button class="button button_rounded button_primary chat-users__button" data-id="{{id}}"
                    onClick=addClickHandler
            >
                <span>+</span>
            </button>

            <img src="{{this.avatar}}" alt="Аватар" class="avatar search-results__avatar"/>
            <div class="search-results__content">
                <h2 class="text text_bold text_author">
                    {{this.login}}
                </h2>
                <p class="text text_msg text_color_medium search-results__detail">
                    <span>{{this.first_name}}</span>
                    <span>{{this.second_name}}</span>
                </p>
            </div>
        </li>
    {{/each}}
</ul>
