<ul class="chat-list">
    {{#each chats}}
        <li class="chat-list__item">
            <a href="/chat.html" class="chat-list__link">
                <img src="{{authorAvatar}}" alt="Пользователь" class="avatar chat-list__avatar"/>
                <div class="chat-list__content">
                    <h2 class="text text_bold text_author">
                        {{this.authorName}}
                    </h2>
                    <p class="text text_msg text_color_medium chat-list__text-preview">
                        {{this.msgPreview}}
                    </p>
                </div>
                <div class="chat-list__meta">
                    <time class="text text_time text_color_medium">
                        {{time}}
                    </time>
                    <div class="badge badge_success chat-list__badge">
                        {{count}}
                    </div>
                </div>
            </a>

        </li>
    {{/each}}
</ul>
