<div class="page {{class}}">
    <aside class="sidebar container__sidebar">
        <header class="sidebar__header header">
            <nav class="nav sidebar__nav">
                <a routerlink href="{{backLink.url}}" class="nav__link nav__link_back">{{backLink.text}}</a>
            </nav>
        </header>

        <footer class="sidebar__footer">
            {{{logoutButton}}}
        </footer>
    </aside>
    <main class="main container__main">
        <div class="container container_indented flex flex_center_horizontal">
            <form>
                <img src="{{userAvatar}}"
                     alt="Аватар" class="avatar avatar_large"/>
                <label class="file-picker">
                    <img src="./images/icons/pen.svg"
                         alt="Загрузка файла"/>
                    <input class="file-picker__input" type="file" name="avatar"
                           onChange=avatarChangeHandler>
                </label>
            </form>
        </div>
        <div class="flex flex_center_horizontal">
            {{{profileForm}}}
            {{{passwordForm}}}
        </div>
    </main>
</div>
