<div class="page {{class}}">
    <h1 class="heading heading_large">{{title}}</h1>
    <p class="text">{{description}}</p>
    <a routerlink class="link" href="{{backLink.url}}">{{backLink.text}}</a>
</div>


